#viewone .elementor-widget-container .elementor-tabs .elementor-tabs-wrapper,#viewtwo .elementor-widget-container .elementor-tabs .elementor-tabs-wrapper {
	display: flex!important;
	direction: rtl!important;
	justify-content: end!important;        
}

.highlight-b{
	background:#000;
}
.highlight-b .elementor-icon-list-text{
	color:#fff;
}

.loader {
  margin: auto;
  border: 5px solid #EAF0F6;
  border-radius: 50%;
  border-top: 5px solid #1eaf86;
  width: 40px;
  height: 40px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overall-task{
  width: 32.5%;
  float:left;
  border:2px solid #b7bcca;
  margin-bottom: 10px;
}

.team-overall-task-block .overall-task:nth-child(3n+0) {
  margin-left: 5px;
  margin-right: 5px;
}
.team-overall-task-block .overall-task:nth-child(1n+0) {
  margin-left: 5px;
  margin-right: 5px;
}

.q_team-overall-task-block .overall-task:nth-child(3n+0) {
  margin-left: 5px;
  margin-right: 5px;
}
.q_team-overall-task-block .overall-task:nth-child(1n+0) {
  margin-left: 5px;
  margin-right: 5px;
}

#table-list.non-dm .task-01,#table-list.non-dm .task-02,#table-list.non-dm .task-03,#table-list.non-dm .task-04,#table-list.non-dm .task-05,#table-list.non-dm .task-06,#table-list.non-dm .task-07{
  display: none;
} 